# Xcode
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip
*.dSYM
*.app
*.ipa
*.build/

# SwiftPM
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Logs
*.log
